.root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 45px 0;
}

.Section3Header {
    font-family: Soleil_Light,Helvetica,Arial,sans-serif;
    font-size: 3rem;
    line-height: 64px;
    font-weight: 150;
    text-align: center;
}

.Section3SubHeader {
    font-size: 24px;
    line-height: 40px;
    margin: 0 auto;
    max-width: 800px;
    width: auto;
    text-align: center;
}

.keepTrack {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;
    box-sizing: border-box;
    padding: 5%;
    justify-content: space-between;
    justify-content: center;
}

.keepTrack h1 {
    text-align: center
}

.keepTrackContent {
    display: flex;
    width: 100%;
    align-items: flex-start;
    color: grey;
    justify-content: center;
}

.keepTrackImg {
    height: 100px;
}

.keepTrackh1 {
    width: 256px;
    height: auto;
    color: #888b8d;
    font-family: Soleil_Light,Helvetica,Arial,sans-serif;
    font-size: 2.2rem;
    line-height: 4rem;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.cardContainer {
    margin-top:75px;
    margin-bottom: 160px;
    margin-right: 0;
    max-width: 1200px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardContent {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardHeader {
    color: #000051;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 48px;
    margin-bottom: 40px;
}

.cardSubHeader {
    color: #24292f;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 40px;
    width: 80%;
}

.getStartedBtn {
    display: inline-block;
    font-family: Soleil_Bold,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #e76d89;
    border: 0;
    border-radius: 24px;
    padding: 18px 32px 17px;
    transition: background .5s ease-in-out;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
    cursor: pointer;
} 

.getStartedBtn:hover {
    background:#534bae;
}

.howToCardContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.howToCard {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 30px;
}

.howToCardHeader {
    font-family: Soleil_Bold,Helvetica,Arial,sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.howToCardSubHeader {
    font-family: Soleil_Light,Helvetica,Arial,sans-serif;
    color: #192026;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 16px;
    text-align: center;
}

.Section4Header {
    margin: 150px 0 50px 0;
    padding-top: 50px; 
    border-top: 1px solid black;
    font-family: Soleil_Light,Helvetica,Arial,sans-serif;
    font-size: 3rem;
    line-height: 64px;
    font-weight: 150;
    text-align: center;
}

@media(max-width: 1300px) {
    .cardContainer {
        flex-direction: column;
        margin-bottom: 50px;    
    }

    .cardContent {
        text-align: center;
        display: flex;
        align-items: center;
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

@media(max-width: 1000px) {
    .keepTrackh1 {
        font-size: 1.8rem;
    }

    .howToCardHeader {
        margin-top: 10px;
        font-size: 1.2rem;
        height: 128px;
    }

    .howToCardSubHeader {
        height: 160px;
        margin-top: 0;
    }
}

@media(max-width: 800px) {
    .Section3Header {
        font-size: 2rem;
    }
    .Section4Header {
        font-size: 2rem;
    }
    .keepTrackh1 {
        font-size: 1.4rem;
    }
    .cardContainer {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .cardContainer img {
        display: none;
    }
}

@media(max-width: 600px) {
    .keepTrack {
        padding-top: 40px;
    }
    .keepTrackContent {
        display: none;
    }
    .Section3Header {
        font-size: 1.9rem;
        width: 90%;
    }
    .Section4Header {
        font-size: 1.9rem;
        margin-top: 50px;
        width: 90%;
    }
    .cardHeader {
        font-size: 2.2rem;
    }
    .cardSubHeader {
        font-size: 1.6rem;
    }
    .cardContainer {
        width: 90%;
        margin: 0 5% 0 5%;
    }
    .cardContent {
        width: 100%;
    }
    .howToCardContainer {
        flex-direction: column;
        align-items: center;
    }
    .howToCard {
        border-left: none !important;
        border-right: none !important;
        margin-bottom: 100px;
        width: 90%;
        padding: 0;
    }
    .howToCardHeader {
        height: auto;
    }
    .howToCardSubHeader {
        height: auto;
    }
    
}